<!doctype html>
<html>
<head>
  <!-- <title>Homepage</title>

  
  <h1> Welcome to my Calendar </h1> -->
</head>

<body>
    {% for message in get_flashed_messages() %}
    {{ message }}

  {% endfor %}
  {% if request.cookies.get('access_token_cookie') %}

     <br>
      <form action="/logout" method="GET">
          <input type="submit" name="Logout" value="Logout">
      </form>

  {% else %}

      <a href="/login">Login</a>
      

  {% endif %}

        {% block content %} {% endblock %}
</body>    
</html>